body{
    background: #585CC6 url("public/images/Vector 1.svg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position:  right;
    background-size: contain;
    background-attachment: fixed;
    overflow-x: hidden;
}